

.france {
    padding: 20px;
    background-color: aqua;
}

.franceblue {
    background-color:#002495;
    display: inline-block;
    width: 100px;
    height: 200px;
    position: relative;
}

.francewhite {
    background-color:#FFFFFF;
    display: inline-block;
    width: 100px;
    height: 200px;
    position: relative;
    right: 4px;
}

.francered {
    background-color:#ED2938;
    display: inline-block;
    width: 100px;
    height: 200px;
    position: relative;
    right: 8px;
}



.germany {
    padding: 20px;
}

.germanyblack {
    background-color: #000000;
    height: 67px;
    width: 333px;
}

.germanyred {
    background-color: #DE0002;
    height: 66px;
    width: 333px;
}

.germanyyellow {
    background-color: #FFCE00;
    height: 67px;
    width: 333px;
}



.madagascar {
    padding: 20px;
    background-color: aquamarine;
}

.madagascarwhite {
    background-color:#FFFFFF;
    display: inline-block;
    width: 100px;
    height: 200px;
}

.madagascarred {
    background-color:#FC3E32;
    display: block;
    width: 204px;
    height: 100px;
}

.madagascargreen {
    background-color:#007E39;
    display: block;
    width: 204px;
    height: 100px;
}

.inlinemadagascar {
    display: inline-block;
    position: relative;
    right: 4px;
}



.switzerland {
    padding: 20px;
}

.switzerlandred {
    height: 200px;
    width: 200px;
    background-color: #FF0002;
}

.switzerlandvertical {
    height: 100px;
    width: 35px;
    background-color: #FFFFFF;
    position: relative;
    left: 83px;
    bottom: 150px;
}

.switzerlandhorizontal {
    height: 35px;
    width: 100px;
    background-color: #FFFFFF;
    position: relative;
    bottom: 215px;
    left: 50px
}



.sweden {
    padding: 20px;
}

.swedenblue {
    height: 200px;
    width: 320px;
    background-color: #0269A6;
}

.swedenvertical {
    height: 200px;
    width: 35px;
    background-color: #FECC00;
    position: relative;
    left: 83px;
    bottom: 200px;
}

.swedenhorizontal {
    height: 35px;
    width: 320px;
    background-color: #FECC00;
    position: relative;
    bottom: 320px;
}



.gambia {
    padding: 20px;
    background-color: aqua;
    position: relative;
}

.gambiared {
    height: 67px;
    width: 300px;
    background-color: #CE1127;
}

.gambiawhite {
    height: 66px;
    width: 300px;
    background-color: #FFFFFF;
}

.gambiagreen {
    height: 67px;
    width: 300px;
    background-color: #3B7827;
}

.gambiablue {
    height: 40px;
    width: 300px;
    position: relative;
    background-color: #0D1D8B;
    bottom: 120px;
    
}



.japan {
    background-color: aquamarine;
    padding: 20px;
}

.japanwhite {
    height: 200px;
    width: 300px;
    background-color: #FFFFFF;
}

.japancircle {
    background-color: #BC022C;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: relative;
    bottom: 160px;
    left: 90px;
}




.niger {
    padding: 20px;
    background-color: aqua;
}

.nigerorange {
    height: 66px;
    width: 233px;
    background-color: #E15307;
}

.nigerwhite {
    height: 68px;
    width: 233px;
    background-color: #FFFFFF;
}

.nigergreen {
    height: 66px;
    width: 233px;
    background-color: #10AF2A;
}

.nigercircle {
    height: 55px;
    width: 55px;
    background-color: #E15307;
    border-radius: 100%;
    position: relative;
    bottom: 127px;
    left: 85px;
}












/* Build the following flags in pure HTML and CSS, no images allowed. 
    No need to make them responsive. The "aspect ratios" listed below refer in 
    to the height:width aspects. E.g. France 🇫🇷 is 2:3, so if you make it 200px 
    height, it should be 300px in width. With Germany 🇩🇪 (3:5), 200px height 
    would be 333px in width (200px × 5 ÷ 3 = 333.3333px)

France

    Blue: #002495
    White: #FFFFFF
    Red: #ED2938
    Aspect Ratio: 2:3

Germany

    Black: #000000
    Red: #DE0002
    Yellow: #FFCE00
    Aspect Ratio: 3:5

Madagascar

    White: #FFFFFF
    Red: #FC3E32
    Green: #007E39
    Aspect Ratio: 2:3

Switzerland

    White: #FFFFFF
    Red: #FF0002
    Aspect Ratio: 1:1

Sweden

    Blue: #0269A6
    Yellow: #FECC00
    Aspect Ratio: 5:8

Gambia

    Red: #CE1127
    White: #FFFFFF
    Blue: #0D1D8B
    Green: #3B7827
    Aspect Ratio: 2:3

Japan

    White: #FFFFFF
    Red: #BC022C
    Aspect Ratio: 2:3

Niger

    Orange: #E15307
    White: #FFFFFF
    Green: #10AF2A
    Aspect Ratio: 6:7

*/