html, body {
    margin: 0;
    padding: 0;
    
}
.coffee {
    width: 425px;
    border: 2px solid red;
    
}
.decaf {
    height: 400px;
    width: 555px;
    border: 2px solid blue;
}
.nav-bar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(55,44,22,.5);
    height: 50px;
    text-align: center;
    font-size: 28pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.home {
    position: relative;
    left: -80px;
}

.menu {
    position: relative;
}

.about {
    position: relative;
    left: 80px;
}

.home:hover {
    color:darkcyan;
    cursor:pointer;
    border: 6px solid darkcyan;
}

.menu:hover {
    color:darkcyan;
    cursor:pointer;
    border: 6px solid darkcyan;
}

.about:hover {
    color:darkcyan;
    cursor:pointer;
    border: 6px solid darkcyan;
}

.imgpadding {
    padding: 10px;
    padding-top: 60px;
}

p {
    padding: 10px;
}
